h1 {
    text-align: center;
    font-size: 2.5rem;  
    font-family: 'Cabin', sans-serif;
    color: black
}

h1:hover {
    animation: both 1s ease-in-out;
    text-shadow: 0 0 20px #00fffc;
        
}

