<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
</html>
<!-- Sticky header -->
<header class="header-outer">
	<div class="header-inner responsive-wrapper">
		<div class="header-logo">
			<strong>LEARNING LOG</strong>
		</div>
		<nav class="header-navigation">
			<a href="http://127.0.0.1:8000/">Home</a>
			<a href="#">About</a>
			<a href="http://127.0.0.1:8000/topics/">Topic</a>
			<a href="http://127.0.0.1:8000/admin/">Login/Signup</a>
			<button>Menu</button>
		</nav>
	</div>
</header>
{% block content %}{% endblock %}
