{%extends 'learn/base.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/topic.css">
</head>
</html>
<nav>
    <h1 class="topic">Topics</h1>
    <a href="{% url 'learn:new_topic' %}">New Topic</a>
</nav>
<ul class="topics">
    {% for topic in topics %}
    <li>
        <a href="{% url 'learn:topic' topic.id %}">{{topic}}</a>
    </li>
    {%empty %}
    <li>
        No topics available
    </li>
    {% endfor %}
</ul>

{% endblock %}